/* buttons */

.button{
    border: 1px solid #eeeeee;
    color: #eeeeee;
    border-radius: 6px;
    background-color: rgb(60, 60, 60);
    padding: 0.5em 1em;
}
.button:hover{
    border-radius: 5px;
    background-color: rgb(92, 92, 92);
}


.timespan-buttons button{
    margin: 0 0.1em;
    padding: 0.4em 0.65em;
    border: 1px solid #7f7f7f;
    border-radius: 3px;
    background-color: inherit;
    width: 100%;
    color: rgb(244, 244, 244);
    font-weight: 500;
    transition: 0.2s;
    outline: none;
}
.timespan-buttons button:hover{
    background-color: #383838;
}