html, body, .wrapper{
    background-color: rgb(25, 25, 25);
    color: white;
    
}

.wrapper {
    padding: 3em 12em 15em 12em;
}
@media screen and (max-width: 1080px) {
    .wrapper{
        padding: 3em 2em 5em 2em;
    }
}


.hero-img{
    height: 10em;
    width: 100%;
    object-fit: cover; 
    object-position: center; 
}

.crypto-graph-box{
    margin-top: 5em;
    z-index: 1 !important;
}
.crypto-graph{
    padding: 1em 2em 1.5em 2em;
    /* background-color: #333333;  */
    border: 2px solid rgb(128, 128, 128);
    border-radius: 8px;    
}



.stats{
    border-bottom: 1px solid rgb(137, 137, 137);
    padding: 0 0.5em 0 0;
    margin: 0.5em 0;
}
.stats-box h1{
    color: rgb(169, 169, 169);
    font-weight: 600;
    font-size: 0.9em;
    letter-spacing: 1px;
}
.stats-box h2{
    font-weight: 400;
    font-size: 0.9em;
}
.stats-box h1 span{
    font-size: 1em !important;
    font-weight: 600;
}
.links-box h1{
    font-size: 1.4em;
    font-weight: 600;

}
.links-box a{
    font-size: 1em;
    font-weight: 400;

}

.sparkline-graph-box {
    display: flex;
    align-items: center;
    justify-content: center;
}
.sparkline-graph-box h1{
    font-size: 1.2em;
    font-weight: 700;
    color: grey;
    text-align: center;
}

.sparkline-graph{
    margin: 0;
    width: 100%;
}

.current-price{
    font-size: 1.1em;
    width: fit-content;
    padding: 1em;
    border-radius: 10px;
}
.stock-up{
    border: 1px solid #00c200;
    color: #00c200;
    box-shadow: 1px 1px 1px 1px rgb(0, 128, 0, 0.5);
}
.stock-down{
    border: 1px solid #ff1a1a;
    color: #ff1a1a;
    box-shadow: 1px 1px 1px 1px rgba(200, 0, 0, 0.5);
}
.stock-default{
    border: 1px solid #b6b6b6;
    color: #b6b6b6;
    box-shadow: 1px 1px 1px 1px rgba(115, 115, 115, 0.5);
}
.icon-box{
    padding: 1.2em;
    margin-left: 5em;
    border-radius: 18px;
    max-width: 60%;
    background-color:rgb(42, 42, 42);
}
.icon{
    background-color: inherit;
    border-radius: 10px;
    padding: 0.5em;
    margin: 1em 0.5em;
    transition: 0.2s;
    width: 55px;
    height: 55px;
}
.icon:hover{
    background-color: rgb(68, 68, 68);
}

.crypto-box{
    margin: 3em 0 10em 0;
}
.crypto-row-box{
    background-color:rgb(42, 42, 42);
    margin: 0.5em 0;
    padding: 0.75em 2em;
    border-radius: 18px;
    height: fit-content;
    width: 100%;
    cursor: default;
    transition: 0.2s;
}
.crypto-row-box:hover{
    background-color:rgb(58, 58, 58);
}
.icon-row-box{
    width: 40px;
    height: 40px;
}




@media screen and (min-width: 1900px) {
    .sparkline-graph{
        margin: 0 5em !important;
    }
}

@media screen and (max-width: 1220px) {
    .sparkline-graph-box {
        display:inline-block;
        width: 100%;
    }
}

@media screen and (max-width: 881px) {
    .crypto-box{
        margin: 2em 0 5em 0;
    }
    .icon-box{
        padding: 0.8em;
        margin-left: 0.75em;
        max-width: 60%;
    }
    .icon{
        width: 40px;
        height: 40px;
        padding: 0.2em;
        margin: 0.4em;
    }
}